.linotype-widget {
    position:fixed;
    bottom:10px;
    left:10px;
    background:#fff;
    box-shadow:0 0 5px 0 rgba(0, 0, 0, .2);
    border-radius:5px;
}
.linotype-widget-logo {
    display:block;
   padding:10px;
   height:45px;
   text-decoration:none;
}
.linotype-widget-logo:hover {
   text-decoration:none;
}
.linotype-widget-logo-text {
    width:80px;
    vertical-align:middle;
    padding-left:5px;
}
.linotype-widget-logo-svg {
    width:20px;
   height:20px;
   overflow:hidden;
   vertical-align:middle;
}
.linotype-widget-menu {
    display:none;
    padding-bottom: 10px;
}
.linotype-widget:hover .linotype-widget-menu {
    display:block;
}

.linotype-widget-menu-item {
    display:block;
    padding: 0 13px;
    vertical-align:middle;
}
.linotype-widget-menu-item-icon {
    display:inline-block;
   width:22px;
   height: 27px;
   vertical-align:middle;
}
.linotype-widget-menu-item-icon svg {
    width: 15px;
    padding: 0px;
}
.linotype-widget-menu-item-item-title {
  font-size:15px;
  line-height:10px;
  vertical-align:middle;
}

.linotype-widget-menu-item,
.linotype-widget-menu-item:hover {
    text-decoration:none;
}
.linotype-widget-menu-item * {
    text-decoration:none;
    color:#666;
}
.linotype-widget-menu-item:hover * {
    text-decoration:none;
    color:#000;
}