
$primary-color: #5755d9 !default;
// $primary-color: #333 !default;
// $primary-color: rgb(38, 139, 255) !default;
// $primary-color: #406794 !default;
// $primary-color: #000000 !default;


$primary-color-dark: darken($primary-color, 3%) !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$secondary-color: lighten($primary-color, 37.5%) !default;
$secondary-color-dark: darken($secondary-color, 3%) !default;
$secondary-color-light: lighten($secondary-color, 15%) !default;
$bg-color: #fff;

@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-icons";

@import "node_modules/spectre.css/src/_off-canvas";
@import "node_modules/spectre.css/src/_timelines";

@import './../../../../Field/**/**.scss';

@import "_helpers";

@import "_viewer";

@import "_custom";

.logo * {
    fill: $primary-color;
}
// .toolbar .panel, .toolbar .panel-head, .toolbar .panel-footer {
//     background: lighten($primary-color, 33%);
//     border-color: lighten($primary-color, 23%);
// }
// .toolbar .panel .menu .menu-item {
//     color: $primary-color-light;
// }

//@import "_darkmode";