
  <div data-block-id="{{block.uid}}" id="{{block.id}}" class="{{block.class}}">
    <div class="test-start">Test start</div>
    <div class="test">
      {{ linotype('block', 'Title', { text: "Coucou" } ) }}
    </div>
    <div class="test-end">Test end</div>
  </div>
