@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

html {
    background: #292c30;
    color: #5c5edb;
    font-family: 'Poppins', sans-serif;

}

body {
    padding: 1rem;

}

a {
    text-decoration: none;
    color: #888;
    padding: 0 .3rem 0 0;

    &:hover {
        color: #bdbdbd;
    }

}